<div class="card" style="background-color: white">
  <div class="card-description">
    <h2><%= cocktail.name %></h2>
  </div>
  <%= link_to "View cocktail recipe", cocktail_path(cocktail), class: "card-link" %>
</div>
